<!DOCTYPE html>
<html>
<head>
  <title>Castle</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="user">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>.Not you?
      <%= link_to "Sign out", destroy_user_session_path %> and 
      <%= link_to "My dashboard", admin_url %>
    <% else %>
      <%= link_to "Sign in", new_user_session_url %> or
      <%= link_to "Register", new_user_registration_url %> or
      <%= link_to_rpx "Sign in with Open ID", user_session_url %>
    <% end %>
  </div>
<%= yield %>
<%= javascript_include_rpx(user_session_url) %>
</body>
</html>
